body {
    font-family: Arial, sans-serif;
    background-color: black; /* Set the whole body background to black */
    color: green;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center content vertically */
}

.terminal {
    background-color: black;
    color: rgb(255, 31, 31);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: monospace;
}

.terminal pre {
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
}

.command-line {
    display: flex;
    align-items: center;
}

.prompt {
    color: #00FF00;
    font-weight: bold;
    padding-right: 5px;
}
.command-input
{
   border: none;
   background-color: transparent; /* Set the background color to transparent */
   color: green; /* Set the text color */
   outline: none;
   font-weight: bold;
}